@use 'reset';
@use '../components/UI/Login/Login';
@use 'create-user';
@use '../components/UI/Header/header';
@use '../components/UI/SideNav/side-nav';
@use '../components/UI/FeaturedMedia/FeaturedMedia';
@use '../components/UI/CastInfo/CastInfo';
@use '../components/UI/Account/Account';
@use '../components/UI/SearchModal/SearchModal';
@use '../components/UI/MediaRow/MediaRow.scss';
@use '../components/UI/GenreNav/genre-nav';


h1 {
    font-size: 3rem;
}


html, body {
    background: black;
    
}

.hide-comp {
    display: none;
}

.content-container {
    width: 100%;
    @media (max-width: 500px) {
        width: fit-content;
    }
}

.mainlayout {
    background: 'linear-gradient(135deg, rgba(0,0,0,1) 50%, rgba(119,30,135,1) 100%)';
    min-height: '100vh';
    background-attachment: fixed;
    @media (max-width: 500px) {
        width: fit-content;
    }
}